{% extends "webstats/webstats.html" %}

{% comment %}

Main page of the webstats.

{% endcomment %}

{% block title %}
  webstats
{% endblock %}

{% block content %}
  <section>
    <h2>Welcome, {{ user.username }}</h2>
    <p>This is the main page of the web statistics.</p>
  </section>

  {% if visitor_list %}
    <ul>
      {% for v in visitor_list %}
        <li>{{ v.ip }} {{ v.referer }} {{ v.time }}</li>
      {% endfor %}
    </ul>
      {% else %}
        <p>There were no visitors.</p>
  {% endif %}
  <script>
    data_from_django = "{{ js_data }}";
    data_from_django = data_from_django.replace(/&quot;/g,'\'');
    data_test = eval('('+data_from_django+')');
  </script>
  <script src="{{ MEDIA_URL }}js/charts/total_month_histogram.js" type="text/javascript"></script>
  <div id="enrollment_container" style="width: 700px;height: 500px"></div>
{% endblock %}
