{% extends "base.html" %}
{% comment %}

{% endcomment %}

{% block head %}
  <title>Django webstats | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
  <header>
    <h1>Django webstats | Web stats</h1>
  </header>

  <section>
    {% if website_list %}
      <ul>
        {% for w in website_list %}
	<li><a href="/webstats/main/{{ w.id }}">{{ w.domain }}, last activity {{ w.last_activity }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no websites currently being monitored.</p>
    {% endif %}

    <ul>
      <li><a href="/logout/">logout</a></li>
    </ul>
  </section>

{% block content %}{% endblock %}
  <footer>
    <span>Django webstats</span>
  </footer>
{% endblock %}
