{% extends "webstats/base.html" %}

{% comment %}

Main page of the webstats.

{% endcomment %}

{% block title %}
  webstats
{% endblock %}

{% block content %}
  <section>
    <h2>Welcome, {{ user.username }}</h2>
    <p>Here are the web statistics for website : {{ website.domain }}.</p>
    </section>
  <li><a href="/webstats/">back to list of monitored sites</a></li>
  {% if visitor_list %}
    <ul>
      {% for v in visitor_list %}
        <li>{{ v.x_ff }} {{ v.referer }} {{ v.time }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There were no visitors.</p>
  {% endif %}

  <h3>Entry page statistics</h3>
  <table style="border: 1px solid green; width: 50%">
    <tr>
      <th>Request</th>
      <th>Entered</th>
      <th>View time, average</th>
    </tr>
    {% for stats in entry_statistics %}
      <tr>
        <td>{{ stats.page  }}</td>
        <td>{{ stats.freq }}</td>
        <td>{{ stats.view_time }}</td>
      </tr>
    {% endfor %}    
  </table>

  <h3>Exit page statistics</h3>
  <table style="border: 1px solid green; width: 50%">
    <tr>
      <th>Request</th>
      <th>Entered</th>
      <th>View time, average</th>
    </tr>
    {% for stats in exit_statistics %}
      <tr>
        <td>{{ stats.page  }}</td>
        <td>{{ stats.freq }}</td>
        <td>{{ stats.view_time }}</td>
      </tr>
    {% endfor %}    
  </table>

  <script>
    data_from_django = "{{ js_data }}";
    data_from_django = data_from_django.replace(/&quot;/g,'\'');
    data_test = eval('('+data_from_django+')');
  </script>
  <script src="{{ MEDIA_URL }}js/charts/total_month_histogram.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}js/charts/page_views_month_histogram.js" type="text/javascript"></script>
  <div id="chart_container" style="width: 700px;height: 200px"></div>
  <div id="page_views" style="width: 700px;height: 200px"></div>
{% endblock %}
